<!DOCTYPE html> {% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<title>Service.com Official Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/blog.css">
	<link rel="stylesheet" type="../../main/static/css/style.css" href="">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="toolbar">
		<div class="thisshouldwork">
		<div class="container">
			<div class="servicelogo">
				<a href="https://service.com/"><img class="serviceBanner" src=""></a>
			</div>
        <div class= "logincontainer">	<a href="https://int.service.com/login" class="login">Login</a></div>
		</div>
	</div>
</div>
	<div class="admin-control">
			{% if user.is_superuser %}
			<a class="newblog" href="{% url "post_list" %}">Home</a>
			<a class="newblog" href="{% url "post_new" %}">New Blog Entry</a>
			<a class="newblog" href="{% url "upload_image" %}">Image Portal</a>
			{% endif %}

	</div>
	<div class="pagecontainer">
<div class="blogtitle">
					<h1>Service.com Official Blog</h1>
</div>
		<div class="leftcontent">



			{% block content %} {% endblock %}
			{% block blog_posts %}{% endblock %}
			{% block single_post %}{% endblock %}
		</div>

		<div class="rightcontent" >
			<div class="navheader">
				<a href="/blog">All Articles</a>

			</div>
			{% for posts in blogPosts %}
				<a href= "/blog/post/{{ posts.id }}"> <h2>{{ posts.title }}</h2></a>
				{% if user.is_superuser %}
					{% if posts.active %}
						ACTIVE
					{% else %}
					{% endif %}
				{% endif %}

				<h3>{{ posts.created_date }}</h3>
			{% endfor %}

		</div>
	</div>
</body>

</html>
