<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>My Blog</title>
	<link rel="stylesheet" href="/static/css/blog.css">
	<link rel="stylesheet" type="../../main/static/css/style.css" href="">
</head>
<body>
	
	<div class="banner">
		<h1><a href="/blog" class="serviceBanner">Service Banner</a><h1>
	</div>
	{% if user.is_superuser %}
		<a href="{% url "post_new" %}">New Blog Entry</a>
	{% endif %}
	
		{% block content %} {% endblock %}
		{% block blog_posts %}{% endblock %}
		{% block single_post %}{% endblock %}

</body>
</html>