{% extends 'base.html' %}

{% block blog_posts %}
<div class="postwrapper">

	{% for posts in blogPosts %}
		<h3> {{ posts.title }}</h3>
		<p>{{ posts.author }}</p>
		<p>{{ posts.text|safe }}</p>
		<p>{{ posts.created_date }}</p>
	{% endfor %}

	<div class="pagination">
		<span class="step-links">
			{% if blogPosts.has_previous %}
				<a href="?page={{ blogPosts.previous_page_number}}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ blogPosts.number }} of {{ blogPosts.paginator.num_pages }}.
			</span>

			{% if blogPosts.has_next %}
				<a href="?page={{ blogPosts.next_page_number }}"> next</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock %}

