{% extends 'base.html' %}


{% block content %}
	{% if user.is_superuser %}
		<h1>New Post</h1>
		<form method="POST" class="post-form">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" name="submit" value="submit" class="save btn btn-default">Publish</button>	
			<button type="submit" name="preview" value="preview" class="save btn btn-default">Preview</button>	
			<button type="submit" name="delete" value="delete" class="save btn btn-default">Delete</button>
			<button type="submit" name="cancel" value="cancel" class="save btn btn-default">Cancel</button>
		</form>
	{% endif %}
{% endblock %}	
