{% extends 'base.html' %}

{% block blog_posts %}
<div class="postwrapper">
			<h2>{{ post.draftTitle }}</h2>
			<p>{{ post.author }}</p>
			<p>{{ post.draft|safe }}</p>
			<p>{{ post.created_date }}</p>

			<form method="POST" class="post-form">{% csrf_token %}
			<button type="submit" name="prev_submit" value="prev_submit">Submit</button>
			<button type="submit" name="prev_edit" value="prev_edit">Edit</button>
			<button type="submit" name="cancel" value="cancel" class="save btn btn-default">Cancel</button>
			</form>
</div>
{% endblock %}