{% extends 'base.html' %}

{% block blog_posts %}

<div class="postwrapper">

	<h2>{{ post.title }}</h2>
	<h4>{{ post.author }}</h4>
	<p>{{ post.text|safe }}</p>
	<h4>{{ post.created_date }}</h4>

	{% if user.is_superuser %}

		{% if posts.active %}
			<p>ACTIVE</p>
			{% else %}
			<p>INACTIVE</p>
			{% endif %}

		<a class="btn a_button" href="/blog/post/{{ post.id }}/post_edit"><button>Edit</button></a>

	{% endif %}



	<div class= "blogfooter"id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'service2231';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow"></a></noscript>

</div>
{% endblock %}
